@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1110px;
    margin: 0 auto;
}

header{
    height: 1161px;
    background: url('../image/designer_1.svg') no-repeat;
    background-position: right bottom 50px;
}

nav {
    height: 60px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
    width: 255px;
    /* border: 1px solid red; */
    justify-content: space-between;
}

nav ul li a{
    text-decoration: none;
    color: #37447E;
}

.logo{
    text-align: center;
}

.logo h1{
    color: #37447E;
    font-size: 26px;
}

.nav-btn{
    text-align: center;
    width: 160px;
    background: #111B47;
    height: 26px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-btn a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.header-info{
    margin-top: 250px;
    width: 540px;
    /* border: 1px solid red; */
}

.header-title h1{
    font-size: 50px;
}

.header-content p{
    font-size: 18px;
    color: #505f98;
    margin-top: 30px;
    line-height: 30px;
}

.header-btn{
    display: flex;
    margin-top: 65px;
}

.header-btn a{
    display: inline-block;
}

.purchase{
    background: #111B47;
    color: #fff;
    text-decoration: none;
    padding: .5rem 1.5rem;
    border-radius: 2px;
    margin-right: 30px;
}
.learnmore{
    color: #111B47;
    background-color: #fff;
    border: 2px solid #111B47;
    border-radius: 2px;
    text-decoration: none;
    padding: .5rem 1.5rem;
}

.powerful{
    background: #fff;
}

.powerful-con{
    display: flex;
    justify-content: space-between;
}

.powerful-info{
    margin-top: 160px;
    width: 540px;
    /* border: 1px solid red; */
}

.pw-title h2{
    font-size: 36px;
    margin-bottom: 1rem;
}

.pw-p p{
    font-size: 16px;
    line-height: 26px;
    color: #6F7CB2;
}

.pw-box{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.pw-item{
    width: 255px;
    /* border: 1px solid red; */
}

.pw-item h3{
    font-size: 16px;
    color: #091133;
    margin: .5rem 0;
}

.pw-item p{
    font-size: 12px;
    line-height: 18px;
    color: #5d6970;
}

.powerful-img{
    width: 540px;
}

.powerful-img img{
    width: 100%;
    margin-top: 100px;
}